<style>
  .card-header a {
    color: #212529;
  }
  table tr.krytyczne {
    font-weight: 700;
    color: #a94442;
    background-color: #f2dede;
  }
  table tr.krytyczne a {
    color: #a94442;
  }
  table tr.pilne {
    color: #8a6d3b;
    background-color: #fcf8e3;
  }
  table tr.pilne a {
    color: #8a6d3b;
  }
  table tr.done {
    color: #3c763d;
    background-color: #dff0d8;
  }
  table tr.done a {
    color: #3c763d;
  }
  table tr.zadanie i.fa.fa-bookmark {
    color: #28c32a;
  }
  table a, table a:hover {
    color: #212529;
  }
</style>
<% var alerts_good = req.flash('success'); %>
<% for (var i in alerts_good) { %>
  <div class="alert alert-success">
    <%= alerts_good[i] %>
  </div>
<% } %>
<% var alerts = req.flash('error'); %>
<% for (var i in alerts) { %>
  <div class="alert alert-danger">
    <%= alerts[i] %>
  </div>
<% } %>
<div class="row">
  <div class="col-lg-8">
    <h3>Witaj <% if (!user.name) { %> Nieznajomy <% } else { %> <%= user.name %> <% } %></h3>
    <br />
    Poniżej znajduje się lista zadań do zrobienia.
    <hr />
    <% var i = 0; %>
    <% _.each(user.list, function(lists) { %>
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> <%= lists.name %>
          <span style="float:right;">
            <a href="/list/edit/<%= lists.id %>"><i class="fa fa-cog" aria-hidden="true"></i></a>
            <a href="/list/delete/<%= lists.id %>"><i class="fa fa-times" aria-hidden="true"></i></a>
          </span>
        </div>
        <div class="card-body">
          <table class="table table-bordered dataTable" width="100%" id="dataTable" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
            <thead>
              <tr role="row">
                <th style="width:5%;">
                  Status
                </th>
                <th style="width:75%;">
                  Opis
                </th>
                <th>
                  Akcje
                </th>
              </tr>
            </thead>
            <tbody>
              <% _.each(list[i].tasks, function(task) { %>
              <tr role="row" class="<% var status = task.status;if (status) {%><%= task.status %><%}%>">
                <td style="text-align:center;">
                  <% var status = task.status;if (status=='done') {%><i class="fa fa-check-circle" aria-hidden="true"></i><%}%>
                  <% var status = task.status;if (status=='zadanie') {%><i class="fa fa-bookmark" aria-hidden="true"></i><%}%>
                  <% var status = task.status;if (status=='pilne') {%><i class="fa fa-info-circle" aria-hidden="true"></i><%}%>
                  <% var status = task.status;if (status=='krytyczne') {%><i class="fa fa-exclamation-circle" aria-hidden="true"></i><%}%>
                </td>
                <td>
                  <%= task.task %>
                </td>
                <td style="text-align:center;">
                  <% var status = task.status;if (!(status=='done')) {%>
                    <a href="/tasks/done/<%= task.id %>"><i class="fa fa-check" aria-hidden="true"></i></a>
                  <%}%>
                  <a href="/tasks/edit/<%= task.id %>"><i class="fa fa-cog" aria-hidden="true"></i></a>
                  <a href="/tasks/delete/<%= task.id %>"><i class="fa fa-times" aria-hidden="true"></i></a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    <% i++ %>
    <% }); %>
  </div>

  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-user" aria-hidden="true"></i> Twoje dane
      </div>
      <div class="card-body">
        <% if (user.name) { %><%= user.name %><br /><% } %>
        <% if (user.email) { %><%= user.email %><br /><% } %>
        <% if (user.street) { %><%= user.street %><br /><% } %>
        <% if (user.postcode) { %><%= user.postcode %><br /><% } %>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-bars" aria-hidden="true"></i> Menu
      </div>
      <div class="list-group list-group-flush small">
        <a class="list-group-item list-group-item-action" href="/user/edit/<%= user.id %>">Edytuj dane</a>
        <a class="list-group-item list-group-item-action" href="/list/new/<%= user.id %>">Dodaj listę</a>
        <a class="list-group-item list-group-item-action" href="/tasks/new/<%= user.id %>">Dodaj zadanie</a>
      </div>
    </div>
  </div>
</div>
